@media (max-width: 500px) {
  .mobile {
    width: 100%;
    display: flex;
    flex: wrap;
    flex-direction: column;
    justify-content: center;
    margin-left: 0.5rem;
  }
  .mobile h1 {
    width: 30%;
    font-size: 2rem;
  }
  .mobile nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 1rem;
  }
  .mobile nav button {
    width: 40%;
    font-size: 0.8rem;
  }
  .mobile h2 {
    width: 50%;
    display: flex;
    flex: wrap;
    font-size: 1rem;
  }
  .mobile img {
    width: 80%;
    margin-right: 0.5rem;
  }
  .mobile p {
    width: 50%;
    display: flex;
    flex: wrap;
    font-size: 1rem;
  }
  .mobile ul {
    width: 50%;
    display: flex;
    flex: wrap;
    font-size: 1rem;
  }
  .mobile .join {
    width: 70%;
    display: flex;
    flex: wrap;
  }
  .mobile .join button {
    font-size: 1rem;
  }
  .mobile .team {
    width: 100%;
    display: flex;
    flex: wrap;
    flex-direction: column;
    align-content: center;
    margin-left: 0.5rem;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Shadows Into Light Two', cursive;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 2rem;
  padding-bottom: 10px;
}
h3 {
  font-size: 2rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5rem;
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}
img {
  max-width: 100%;
  height: auto;
}
ul {
  line-height: 1.5;
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .container {
    width: 100%;
    display: flex;
    flex: wrap;
    flex-direction: column;
    justify-content: center;
    margin-left: 0.5rem;
  }
  .container h1 {
    width: 30%;
    font-size: 2rem;
  }
  .container nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 1rem;
  }
  .container nav button {
    width: 40%;
    font-size: 0.8rem;
  }
  .container h2 {
    width: 50%;
    display: flex;
    flex: wrap;
    font-size: 1rem;
  }
  .container img {
    width: 80%;
    margin-right: 0.5rem;
  }
  .container p {
    width: 50%;
    display: flex;
    flex: wrap;
    font-size: 1rem;
  }
  .container ul {
    width: 50%;
    display: flex;
    flex: wrap;
    font-size: 1rem;
  }
  .container .join {
    width: 70%;
    display: flex;
    flex: wrap;
  }
  .container .join button {
    font-size: 1rem;
  }
  .container .team {
    width: 100%;
    display: flex;
    flex: wrap;
    flex-direction: column;
    align-content: center;
    margin-left: 0.5rem;
  }
}
.column {
  float: center;
  width: 33.33%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
button {
  width: 150px;
  font-size: 1.2rem;
  text-transform: uppercase;
  border: 0;
  margin: 10px;
  border-radius: 5px;
  letter-spacing: 2px;
  outline: none;
  background-color: #4dd0e1;
  background-image: linear-gradient(to right, #5a5766, #b0abcf);
  color: #fff;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
button:hover button:hover {
  background-image: none;
  background-color: #6b4c88;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);
}
Navbar {
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
header {
  width: 100%;
  margin: 40px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 500px) {
  header {
    width: 100%;
    display: flex;
    flex: wrap;
    flex-direction: column;
    justify-content: center;
    margin-left: 0.5rem;
  }
  header h1 {
    width: 30%;
    font-size: 2rem;
  }
  header nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 1rem;
  }
  header nav button {
    width: 40%;
    font-size: 0.8rem;
  }
  header h2 {
    width: 50%;
    display: flex;
    flex: wrap;
    font-size: 1rem;
  }
  header img {
    width: 80%;
    margin-right: 0.5rem;
  }
  header p {
    width: 50%;
    display: flex;
    flex: wrap;
    font-size: 1rem;
  }
  header ul {
    width: 50%;
    display: flex;
    flex: wrap;
    font-size: 1rem;
  }
  header .join {
    width: 70%;
    display: flex;
    flex: wrap;
  }
  header .join button {
    font-size: 1rem;
  }
  header .team {
    width: 100%;
    display: flex;
    flex: wrap;
    flex-direction: column;
    align-content: center;
    margin-left: 0.5rem;
  }
}
h1 {
  display: flex;
  width: 30%;
}
@media (max-width: 500px) {
  h1 {
    width: 100%;
    display: flex;
    flex: wrap;
    flex-direction: column;
    justify-content: center;
    margin-left: 0.5rem;
  }
  h1 h1 {
    width: 30%;
    font-size: 2rem;
  }
  h1 nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 1rem;
  }
  h1 nav button {
    width: 40%;
    font-size: 0.8rem;
  }
  h1 h2 {
    width: 50%;
    display: flex;
    flex: wrap;
    font-size: 1rem;
  }
  h1 img {
    width: 80%;
    margin-right: 0.5rem;
  }
  h1 p {
    width: 50%;
    display: flex;
    flex: wrap;
    font-size: 1rem;
  }
  h1 ul {
    width: 50%;
    display: flex;
    flex: wrap;
    font-size: 1rem;
  }
  h1 .join {
    width: 70%;
    display: flex;
    flex: wrap;
  }
  h1 .join button {
    font-size: 1rem;
  }
  h1 .team {
    width: 100%;
    display: flex;
    flex: wrap;
    flex-direction: column;
    align-content: center;
    margin-left: 0.5rem;
  }
}
h2 {
  width: 100%;
  border-bottom: 2px solid #F87060;
}
@media (max-width: 500px) {
  h2 {
    width: 100%;
    display: flex;
    flex: wrap;
    flex-direction: column;
    justify-content: center;
    margin-left: 0.5rem;
  }
  h2 h1 {
    width: 30%;
    font-size: 2rem;
  }
  h2 nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 1rem;
  }
  h2 nav button {
    width: 40%;
    font-size: 0.8rem;
  }
  h2 h2 {
    width: 50%;
    display: flex;
    flex: wrap;
    font-size: 1rem;
  }
  h2 img {
    width: 80%;
    margin-right: 0.5rem;
  }
  h2 p {
    width: 50%;
    display: flex;
    flex: wrap;
    font-size: 1rem;
  }
  h2 ul {
    width: 50%;
    display: flex;
    flex: wrap;
    font-size: 1rem;
  }
  h2 .join {
    width: 70%;
    display: flex;
    flex: wrap;
  }
  h2 .join button {
    font-size: 1rem;
  }
  h2 .team {
    width: 100%;
    display: flex;
    flex: wrap;
    flex-direction: column;
    align-content: center;
    margin-left: 0.5rem;
  }
}
img {
  width: 100%;
  margin-top: 2rem;
}
@media (max-width: 500px) {
  img {
    width: 100%;
    display: flex;
    flex: wrap;
    flex-direction: column;
    justify-content: center;
    margin-left: 0.5rem;
  }
  img h1 {
    width: 30%;
    font-size: 2rem;
  }
  img nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 1rem;
  }
  img nav button {
    width: 40%;
    font-size: 0.8rem;
  }
  img h2 {
    width: 50%;
    display: flex;
    flex: wrap;
    font-size: 1rem;
  }
  img img {
    width: 80%;
    margin-right: 0.5rem;
  }
  img p {
    width: 50%;
    display: flex;
    flex: wrap;
    font-size: 1rem;
  }
  img ul {
    width: 50%;
    display: flex;
    flex: wrap;
    font-size: 1rem;
  }
  img .join {
    width: 70%;
    display: flex;
    flex: wrap;
  }
  img .join button {
    font-size: 1rem;
  }
  img .team {
    width: 100%;
    display: flex;
    flex: wrap;
    flex-direction: column;
    align-content: center;
    margin-left: 0.5rem;
  }
}
.information {
  padding-top: 30px;
  border-top: 2px solid #F87060;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .information {
    width: 100%;
    display: flex;
    flex: wrap;
    flex-direction: column;
    justify-content: center;
    margin-left: 0.5rem;
  }
  .information h1 {
    width: 30%;
    font-size: 2rem;
  }
  .information nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 1rem;
  }
  .information nav button {
    width: 40%;
    font-size: 0.8rem;
  }
  .information h2 {
    width: 50%;
    display: flex;
    flex: wrap;
    font-size: 1rem;
  }
  .information img {
    width: 80%;
    margin-right: 0.5rem;
  }
  .information p {
    width: 50%;
    display: flex;
    flex: wrap;
    font-size: 1rem;
  }
  .information ul {
    width: 50%;
    display: flex;
    flex: wrap;
    font-size: 1rem;
  }
  .information .join {
    width: 70%;
    display: flex;
    flex: wrap;
  }
  .information .join button {
    font-size: 1rem;
  }
  .information .team {
    width: 100%;
    display: flex;
    flex: wrap;
    flex-direction: column;
    align-content: center;
    margin-left: 0.5rem;
  }
}
.information .info {
  width: 33.33%;
  margin-bottom: 20px;
  margin-right: 4rem;
}
@media (max-width: 500px) {
  .information .info {
    width: 100%;
    display: flex;
    flex: wrap;
    flex-direction: column;
    justify-content: center;
    margin-left: 0.5rem;
  }
  .information .info h1 {
    width: 30%;
    font-size: 2rem;
  }
  .information .info nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 1rem;
  }
  .information .info nav button {
    width: 40%;
    font-size: 0.8rem;
  }
  .information .info h2 {
    width: 50%;
    display: flex;
    flex: wrap;
    font-size: 1rem;
  }
  .information .info img {
    width: 80%;
    margin-right: 0.5rem;
  }
  .information .info p {
    width: 50%;
    display: flex;
    flex: wrap;
    font-size: 1rem;
  }
  .information .info ul {
    width: 50%;
    display: flex;
    flex: wrap;
    font-size: 1rem;
  }
  .information .info .join {
    width: 70%;
    display: flex;
    flex: wrap;
  }
  .information .info .join button {
    font-size: 1rem;
  }
  .information .info .team {
    width: 100%;
    display: flex;
    flex: wrap;
    flex-direction: column;
    align-content: center;
    margin-left: 0.5rem;
  }
}
.join {
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .join {
    width: 100%;
    display: flex;
    flex: wrap;
    flex-direction: column;
    justify-content: center;
    margin-left: 0.5rem;
  }
  .join h1 {
    width: 30%;
    font-size: 2rem;
  }
  .join nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 1rem;
  }
  .join nav button {
    width: 40%;
    font-size: 0.8rem;
  }
  .join h2 {
    width: 50%;
    display: flex;
    flex: wrap;
    font-size: 1rem;
  }
  .join img {
    width: 80%;
    margin-right: 0.5rem;
  }
  .join p {
    width: 50%;
    display: flex;
    flex: wrap;
    font-size: 1rem;
  }
  .join ul {
    width: 50%;
    display: flex;
    flex: wrap;
    font-size: 1rem;
  }
  .join .join {
    width: 70%;
    display: flex;
    flex: wrap;
  }
  .join .join button {
    font-size: 1rem;
  }
  .join .team {
    width: 100%;
    display: flex;
    flex: wrap;
    flex-direction: column;
    align-content: center;
    margin-left: 0.5rem;
  }
}
.team {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 30px;
  border-top: 2px solid #F87060;
  justify-content: space-evenly;
}
@media (max-width: 500px) {
  .team {
    width: 100%;
    display: flex;
    flex: wrap;
    flex-direction: column;
    justify-content: center;
    margin-left: 0.5rem;
  }
  .team h1 {
    width: 30%;
    font-size: 2rem;
  }
  .team nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 1rem;
  }
  .team nav button {
    width: 40%;
    font-size: 0.8rem;
  }
  .team h2 {
    width: 50%;
    display: flex;
    flex: wrap;
    font-size: 1rem;
  }
  .team img {
    width: 80%;
    margin-right: 0.5rem;
  }
  .team p {
    width: 50%;
    display: flex;
    flex: wrap;
    font-size: 1rem;
  }
  .team ul {
    width: 50%;
    display: flex;
    flex: wrap;
    font-size: 1rem;
  }
  .team .join {
    width: 70%;
    display: flex;
    flex: wrap;
  }
  .team .join button {
    font-size: 1rem;
  }
  .team .team {
    width: 100%;
    display: flex;
    flex: wrap;
    flex-direction: column;
    align-content: center;
    margin-left: 0.5rem;
  }
}
.team .brianna {
  width: 33.33%;
}
.team .sharon {
  width: 33.33%;
}
.team .holly {
  width: 33.33%;
}
.team .troy {
  width: 33.33%;
}
.team .michael {
  width: 33.33%;
}
.team .abdul {
  width: 33.33%;
}
.team .jason {
  width: 33.33%;
}
.team .image-content {
  width: 100%;
}
.team .image-content img {
  width: 40%;
  border-radius: 50%;
}
.team .text-content {
  margin-top: 1rem;
  justify-content: center;
  width: 50%;
}
.team .text-content p {
  width: 90%;
}
.footer {
  width: 100%;
  background: #E3DFFF;
  display: flex;
  justify-content: center;
  border-top: 2px solid #F87060;
}
@media (max-width: 500px) {
  .footer {
    width: 100%;
    display: flex;
    flex: wrap;
    flex-direction: column;
    justify-content: center;
    margin-left: 0.5rem;
  }
  .footer h1 {
    width: 30%;
    font-size: 2rem;
  }
  .footer nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 1rem;
  }
  .footer nav button {
    width: 40%;
    font-size: 0.8rem;
  }
  .footer h2 {
    width: 50%;
    display: flex;
    flex: wrap;
    font-size: 1rem;
  }
  .footer img {
    width: 80%;
    margin-right: 0.5rem;
  }
  .footer p {
    width: 50%;
    display: flex;
    flex: wrap;
    font-size: 1rem;
  }
  .footer ul {
    width: 50%;
    display: flex;
    flex: wrap;
    font-size: 1rem;
  }
  .footer .join {
    width: 70%;
    display: flex;
    flex: wrap;
  }
  .footer .join button {
    font-size: 1rem;
  }
  .footer .team {
    width: 100%;
    display: flex;
    flex: wrap;
    flex-direction: column;
    align-content: center;
    margin-left: 0.5rem;
  }
}
