// Mixins in here
.button(@width, @font-weight){
       width: @width;
       margin: 0;
       padding: 10px;
       display: inline-flex;
       border-radius: 10px;
       color: white;
       text-decoration: none;
       margin-bottom: 10px;
       background: teal;
       font-weight: @font-weight;
       font-size: 15px;
   }
   
   .top(@justify-content){
       display: flex;
       flex-flow: row wrap;
       justify-content: @justify-content;
   }

.mobile{
    @media only screen and (max-width: 500px){
           width: 80%;
           display:flex;
           flex: wrap;
           flex-direction: column;
           justify-content: center;
           margin-left: 1rem;

           header{
               width:100%;
               align-content: center;
           }

           h1{
           width: 50%;
           font-size: 2rem;
           }

           nav{
               display: flex;
               flex-direction: row;
               justify-content: flex-start;
               margin-bottom: 1rem;

               button{
                   width:40%;
                   font-size:.8rem;
               }
           }
           h2{
               width:100%;
               display:flex;
               flex: wrap;
               font-size: 1rem;
           }

           img{
               width:100%;
               margin-right: .5rem;
           }

           p{
               width:100%;
               display:flex;
               flex: wrap;
              align-items: center;
               font-size: 1rem;
           }

           ul{
               width: 100%;
               display:flex;
               flex: wrap;
               font-size: 1rem;
           }

           .join{
            width:70%;
            display:flex;
            flex: wrap;
            justify-content: center;
            button{
            font-size: 1rem;
            }
           }

           .team{
            width: 100%;
            display:flex;
            flex: wrap;
            flex-direction: column;
            align-content: center;
            margin-left: .5rem;  
           }
           


    }         
}

.tablet {
    @media only screen and (min-width: 700px){
        width: 100%;
        display:flex;
        flex: wrap;
        align-content: center;
        padding: 2rem;
       

        img{
            width: 100%;
        }
        .information {
            width:80%;
            display:flex;
            flex: wrap;
            padding-left: 2rem;
           
        }

        

       

}
}   

