.team {
  display:flex;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 30px;
  border-top: 2px solid @peach;
  justify-content: space-evenly;
  .mobile();

  .brianna{
    width:33.33%;
  }

  .sharon{
    width: 33.33%;
  }

  .holly{
    width: 33.33%;
  }

  .troy{
    width: 33.33%;
  }

  .michael{
    width: 33.33%;
  }

  .abdul{
    width:33.33%;
  }

  .jason{
    width: 33.33%;
  }
  .image-content {
    width: 100%;
    img {
      width: 40%;
      border-radius: 50%;
    }
  }
  .text-content {
    margin-top: 1rem;
    justify-content: center;
    width: 50%;
    p {
      width: 90%;
  }
}
}
