.team {
  width: 100%;
  
  .image-content {
    padding-left: 1%;
    margin-top: 2em;

    img {
      width: 20%;
      border-radius: 50%;
    }
  }
  .text-content {
    width: 70%;
   
    p {
      width: 50%;
    }
  }
  
}
