.team {
  width: 800px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  
  .image-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 2em;
   
    img {
      width: 20%;
      border-radius: 50%;
    }
  }
  .text-content {
    width: 70%;
   
    p {
      width: 100%;
    }
  }
  
}
